@page
@model IEnumerable<BookLibrary.Book>
@{
    ViewData["Title"] = "Home page";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                Author
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfPublication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>

            </tr>
        }
    </tbody>
</table>

